*.nc
.vscode/
src/media/fires_gifs/*
src/media/fires_pics/*
src/tmp/*
src/pages/util/config.py
src/media/tmp/*
src/db.sqlite3
src/media/misc/*
__pycache__
*.log
*.pyc
src/fnn/settings.py
wsgi.py
testing.py