{% extends 'base.html'%}
{% load static %}

{% block content %}
<section class="signup-section" id="unsub">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-2">Sorry to see you go!</h2>
                <p class="text-white mb-5"> 
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% else %} Please input your email to confirm.
                {% endif %} </p>
                <form method="POST" action="/emailunsub/">
                    <div style="text-align: center;">
                        <div class="g-recaptcha" style="display: inline-block;" data-sitekey="6LeOJ7oZAAAAAJIIOA4YRSh4bsChrVPLp4YdVRvS"></div>
                    </div>
                    <div class="form-inline d-flex">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-primary mx-auto" type="submit">Unsubscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}