{% extends 'base.html'%}
{% load timezone_conversion %}

{% block content %}
<section class="projects-section bg-dark" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-7 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{fire.video.url}}" alt="Image not found" onerror="this.onerror=null; this.src='{{fire.image.url}}'"/></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4 class="text-white">{{fire.name}}</h4>
                    <p class="text-white-50 mb-0">Latitude: {{fire.latitude|floatformat:3}}</p>
                    <p class="text-white-50 mb-0">Longitude: {{fire.longitude|floatformat:3}}</p>
                    <p class="text-white-50 mb-0">Time (PST): {{fire.timestamp|timezone_conversion_filter:"US/Pacific" }}</p>
                    <p class="text-white-50 mb-0"> Description: {{fire.short_description}}</p>
                    <p class="text-white-50 mb-0">Cause: {{fire.cause}}</p>
                </div>
            </div>
        </div>
        <!-- semantic UI -->
        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <!--Chart js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <div>
            <canvas id="chart" width="400" height="300"></canvas>
        </div>
    </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script>
var ctx = document.getElementById("chart").getContext("2d");
const verticalLinePlugin = {
        getLinePosition: function (chart, pointIndex) {
            const meta = chart.getDatasetMeta(0); // first dataset is used to discover X coordinate of a point
            const data = meta.data;
            return data[pointIndex]._model.x;
        },
        renderVerticalLine: function (chartInstance, pointIndex) {
            const lineLeftOffset = this.getLinePosition(chartInstance, pointIndex);
            const scale = chartInstance.scales['y-axis-0'];
            const context = chartInstance.chart.ctx;

            // render vertical line
            context.beginPath();
            context.strokeStyle = '#ff0000';
            context.moveTo(lineLeftOffset, scale.top);
            context.lineTo(lineLeftOffset, scale.bottom);
            context.stroke();

            // write label
            context.fillStyle = "#ff0000";
            context.textAlign = 'center';
            context.font = '15px Helvetica';
            {% if fire_text_pos == 'right' %}
                context.fillText('FIRE DETECTED', lineLeftOffset + scale.right, (scale.bottom - scale.top) / 2 + .25*scale.top);    
            {% elif fire_text_pos == 'left' %}
                context.fillText('FIRE DETECTED', lineLeftOffset - scale.right, (scale.bottom - scale.top) / 2 + .25*scale.top);    
            {% endif %}

        },

        afterDatasetsDraw: function (chart, easing) {
            if (chart.config.lineAtIndex) {
                chart.config.lineAtIndex.forEach(pointIndex => this.renderVerticalLine(chart, pointIndex));
            }
        }
    };

Chart.plugins.register(verticalLinePlugin);
Chart.defaults.global.defaultFontColor='rgba(255, 255, 255, 1)'
var config = {
    type: 'line',
    data: {
        labels: [{% for time_pt in time_pts %} new Date("{{time_pt}}").toLocaleString(), {% endfor %}],
        datasets: [
        {
            label: 'Alarm Threshold',
            lineTension: 0,
            data: [
                {% for pt in cloud_bound %}
                    {
                    t: new Date("{{pt.0}}"),
                    y: {{ pt.1 }}
                    },
                {% endfor %}
            ],
            yAxisID: 'B',
            backgroundColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderColor: [
                'rgba(220, 227, 223, 1)',
            ],
            borderWidth: 1,
            borderDash: [10,5],
            steppedLine: true,
        },
        {
            label: 'Alarm Level',
            lineTension: 0,
            data: [
                {% for pt in diff_pts %}
                    {
                    t: new Date("{{pt.0}}"),
                    y: {{ pt.1 }}
                    },
                {% endfor %}
            ],
            yAxisID: 'B',
            backgroundColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderColor: [
                'rgba(253, 155, 160, 1)',
            ],
            borderWidth: 4,
        },
        {
            label: 'Predicted Near Infared',
            lineTension: 0,
            data: [
                {% for pt in pred_pts %}
                    {
                    t: new Date("{{pt.0}}"),
                    y: {{ pt.1 }}
                    },
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(0, 253, 220, 0.3)',
            ],
            borderColor: [
                'rgba(0, 253, 220, 1)',
            ],
            borderWidth: 3
        }, 
        {
            label: 'Actual Near Infared',
            lineTension: 0,
            data: [
                {% for pt in actual_7_pts %}
                    {
                    t: new Date("{{pt.0}}"),
                    y: {{ pt.1 }}
                    },
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(220, 0, 115, 0.3)',
            ],
            borderColor: [
                'rgba(255, 0, 170, 1)',
            ],
            borderWidth: 3
        },]
  },
  options: {
        responsive: true,
        elements: {
            point:{
                    radius: 0,
                    hoverRadius: 4,
                    hitRadius: 4,
                }
            },
        title: {
            display: true,
            fontSize: 30,
            text: 'What the Artificial Intelligence Sees'
        },
        tooltips: {
            mode: 'index',
        },
        hover: {
            mode: 'index'
        },
        scales: {
            xAxes: [{
                type: 'time',
                scaleLabel: {
                    display: true,
                }
            }],
            yAxes: [{
                stacked: false,
                type: 'linear',
                position: 'left',
                scaleLabel: {
                    display: true,
                    labelString: 'Near Infared Radiance',
                    fontColor: 'rgba(71, 103, 120, 1)',
                    fontSize: 20,
                },
            },
            {
                stacked: false,
                type: 'linear',
                position: 'right',
                id: 'B',
                scaleLabel: {
                    display: true,
                    labelString: 'Alarm Level',
                    fontColor: 'rgba(253, 155, 160, 1)',
                    fontSize: 20, 
                },
            },]
        }
    },
    lineAtIndex: [{{ fire_start_idx }}],
}
var myChart = new Chart(ctx, config);
</script>


{% endblock content %}