{% extends 'base.html'%}
{% load static %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Fire Neural Network. </h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A neural network based approach to detecting Wildfires. </h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Predict Fires in Realtime Using Satellite Data</h2>
                <p class="text-white-50">
                    Detecting fires quickly and correctly is important for many reasons. Loss of life, climate change, habitat destruction,
                    property damage, road blockages, and insurance just to name a few. The new GOES-16 ABI satellite delivers images of the Western Hemisphere
                    every 5 minutes. Using this data, we have trained an Artificial Intelligence and used statistics to detect the start location of fires
                    in near realtime. 
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-9 col-lg-7">
            {% comment %} <img class="img-fluid mb-3 mb-lg-0" src="{% static 'assets/img/Google_Maps_Placeholder.jpg' %}" alt="" />{% endcomment %}
            <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 600px;  /* The height is 400 pixels */
                width: 100%;  /* The width is the width of the web page */
            }
            </style>
            <body>
                <h3></h3>
                <!--The div element for the map -->
                <div id="map"></div>

            <script>
            // Initialize and add the map
            function initMap() {

                // The map, centered at 36.7783, 119.4179
                var cali_center = {lat: 36.7783, lng: -119.4179}
                var map = new google.maps.Map(document.getElementById('map'), {zoom: 5, center: cali_center});
                
                // Plotting fires
                {% for fire in queried_fires %}
                    var js_fire = {lat: {{fire.latitude}}, lng: {{fire.longitude}}};
                    var marker = new google.maps.Marker({position: js_fire, map: map, url: '/firedetail/{{fire.id}}/' });
                    google.maps.event.addListener(marker, 'click', function() {window.location.href = this.url;});
                {% endfor %}
            }
            </script>

                <!--Load the API from the specified URL
                * The async attribute allows the browser to render the page while the API loads
                * The key parameter will contain your own API key (which is not needed for this tutorial)
                * The callback parameter executes the initMap() function
                -->
                <script defer
                src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API}}&callback=initMap">
                </script>
            </div>

            <div class="col-xl-3 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Realtime Fire Google Maps Tracker</h4>
                    <p class="text-black-50 mb-0"> 
                    See fires that were detected by the AI in the last 24 hours. Click on one of the fires to see more details about the particular event.
                    </p>
                </div>
            </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/Lone_Plot.png' %}" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Performance</h4>
                            <p class="mb-0 text-white-50">
                            The Fire Neural Network uses the NOAA GLM lightning satellite to cross-corroborate potential fires with
                            a realtime lightning database. In addition, it uses multiple bands to differentiate between regions of cloud and 
                            no-cloud to allow for higher accuracy. </p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/graph.jpg' %}" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">News</h4>
                            <p class="mb-0 text-white-50"> 
                            To the right, you will see two images both taken with a high-resolution satellite image. While the resolution
                            of the satellite is impressive, the problem is it only takes pictures once a day. The left image shows the location
                            where Fire Neural Network detected a fire on September 4th, 2019. Just two days later on September 6th (right image)
                            when authorities detected the fire, the devastation was almost 5 square kilometers. This is just one example of why
                            quick realtime updates are important for stopping wildfires in their tracks. </p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-2">Subscribe to receive updates!</h2>
                <p class="text-white mb-5"> 
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% else %} You will recieve email alerts from fireneuralnetwork@gmail.com when our algorithm detects fires
                {% endif %}
                </p>
                <form method="POST" action="#signup">
                    <div class="form-group ">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div style="text-align: center;">
                        <div class="g-recaptcha" style="display: inline-block;" data-sitekey="6Ld_wssZAAAAACkVFJ5CViYB0KeesbWJ2OcW76FB"></div>
                    </div>

                    <div style="text-align: center;">
                        <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">3000 SW 35th Pl, Gainesville, FL 32608</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a href="#!">nihar.gupte@ufl.edu</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50">+1 (301) 412-8168</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://twitter.com/fireneuralnetw1"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="https://github.com/kauii8school"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>

<!-- Google Captcha -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock content %}